<div class="card">
  <h4 class="card-header" *ngIf="isAddMode">
    <!-- {{ 'login.add.label' | translate }} -->
    Add Users
  </h4>
  <h4 class="card-header" *ngIf="!isAddMode">
    <!-- {{ 'login.modal.title' | translate }} -->
    Edit Users
  </h4>
  <div class="card-body">
    <form
      name="form"
      (ngSubmit)="myform.form.valid && Submit()"
      #myform="ngForm"
      novalidate
      autocomplete="off"
    >
      <div class="form-row">
        <!-- Image Upload
          <div class="form-group">
          <i class="bi bi-x" *ngIf="removeUpload" (click)="removeUploadedFile()"></i>
          <div class="group-gap">
            // Upload image 
            <div class="avatar-upload">
              <div class="avatar-edit">
                <input
                  type="file"
                  id="imageUpload"
                  accept=".png, .jpg, .jpeg"
                  #fileInput
                  [(ngModel)]="users.image"
                  name="image"
                  #image="ngModel"
                  (change)="uploadFile($event)"
                />
              </div>
              <div class="avatar-preview">
                <div
                  id="imagePreview"
                  [style.backgroundImage]="'url(' + imageUrl + ')'"
                ></div>
              </div>
            </div>
          </div>
          // Upload Button 
          <button
            type="button"
            class="btn btn-primary button"
            (click)="fileInput.click()"
          >
            Upload Image
          </button>
        </div> -->

        <!--  Angular Dropzone -->
        <div ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>
            <div>
              <h2>+</h2>
            </div>
          </ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
            [removable]="true"
            (removed)="onRemove(f)"
          ></ngx-dropzone-image-preview>
        </div>

        <!-- Csv File Upload -->
        <!-- <input type="file" accept=".pdf" (change)="handleFileSelect($event)" /> -->
        <!-- <button
        type="button"
        *ngIf="removeUpload"
        class="btn btn-primary mt-3"
        (click)="openFile()"
      >
        Download File
      </button> -->
        <!-- Angular2 Multiselect Dropdown -->
        <div class="mt-3">
          <angular2-multiselect
            [data]="dropdownList"
            name="selectItem"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)"
          ></angular2-multiselect>
        </div>
        <div class="form-group">
          <!-- <label>{{ 'login.name.label' | translate }}</label> -->
          <label>Name</label>
          <input
            type="text"
            name="name"
            class="form-control"
            [(ngModel)]="users.name"
            #name="ngModel"
            [ngClass]="{ 'is-invalid': myform.submitted && name.invalid }"
            pattern="^[a-zA-Z\s]*$"
            required
          />
          <div
            *ngIf="myform.submitted && name.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="name.errors.required">Name is required</div>
            <div *ngIf="name.errors.pattern">
              Enter Only Character
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isAddMode">
          <!-- <label>{{ 'login.username.label' | translate }}</label> -->
          <label>UserName</label>
          <input
            type="text"
            name="username"
            class="form-control"
            [(ngModel)]="users.username"
            #username="ngModel"
            [ngClass]="{ 'is-invalid': myform.submitted && username.invalid }"
            required
          />
          <div
            *ngIf="myform.submitted && username.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="username.errors.required">User Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label>{{ 'login.gender.label' | translate }}</label> -->
          <label>Gender</label>
          <select
            name="gender"
            class="form-control"
            [(ngModel)]="users.gender"
            #gender="ngModel"
            [ngClass]="{ 'is-invalid': myform.submitted && gender.invalid }"
            required
          >
            <option value=""></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
          </select>
          <div
            *ngIf="myform.submitted && gender.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="gender.errors.required">Gender is required</div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label>{{ 'login.phone_number.label' | translate }}</label> -->
          <label>Phone Number</label>
          <input
            type="text"
            name="phone_number"
            class="form-control"
            [(ngModel)]="users.phone_number"
            #phone_number="ngModel"
            [ngClass]="{
              'is-invalid': myform.submitted && phone_number.invalid
            }"
            required
            maxlength="10"
            pattern="^((\\+91-?)|0)?[0-9]{10}$"
          />
          <div
            *ngIf="myform.submitted && phone_number.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="phone_number.errors.required">
              Phone Number is required
            </div>
            <div *ngIf="phone_number.errors.pattern">
              Enter Only Digit
            </div>
          </div>
        </div>

        <div class="form-group">
          <!-- <label>{{ 'login.email.label' | translate }}</label> -->
          <label>Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            [(ngModel)]="users.email"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': myform.submitted && email.invalid }"
            required
            email
            [disabled]="!isAddMode"
          />
          <div
            *ngIf="myform.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>
        <div class="form-group" *ngIf="isAddMode">
          <!-- <label>{{ 'login.password.label' | translate }}</label> -->
          <label>Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            [(ngModel)]="users.password"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': myform.submitted && password.invalid }"
            required
            minlength="6"
          />
          <div
            *ngIf="myform.submitted && password.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="d-grid gap-2 col-6 mt-2">
              <button class="btn btn-success" *ngIf="isAddMode">
                <!-- {{ 'login.buttonRegister.label' | translate }} -->
                Register
              </button>
              <button class="btn btn-primary mr-1" *ngIf="!isAddMode">
                <!-- {{ 'login.edit.label' | translate }} -->
                Edit
              </button>
            </div>
            <div class="d-grid gap-2 col-6 mt-2">
              <a
                [routerLink]="['/login']"
                class="btn btn-secondary ml-1"
                type="reset"
                *ngIf="isAddMode"
              >
                <!-- {{ 'login.cancel.label' | translate }} -->
                Cancel
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
