<div class="content container-fluid" role="main">
  <span>{{ title }} app is running!</span>
  <!-- nav -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="user">
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-item nav-link" routerLink="/home">
            <!-- {{ 'login.home.title' | translate }} -->
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-item nav-link"
            routerLink="/user-list"
            routerLinkActive="active"
          >
            <!-- {{ 'login.user.title' | translate }} -->
            User-List
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-item nav-link"
            routerLink="/user-data"
            routerLinkActive="active"
          >
            <!-- {{ 'login.usersData.title' | translate }} -->
            User-Data
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-item nav-link"
            routerLink="/test/add-first"
            routerLinkActive="active"
          >
          <!-- {{ 'login.test.title' | translate }} -->
          Test Module
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" (click)="logout()">
            <!-- {{ 'login.logout.title' | translate }} -->
            Logout
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <!-- {{ 'login.dropdown.title' | translate }} -->
            Select Langulage
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a class="dropdown-item" (click)="useLanguage('en')">
                <!-- {{ 'login.english.title' | translate }} -->
                English
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="useLanguage('hn')">
                <!-- {{ 'login.hindi.title' | translate }} -->
                Hindi
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
